/* Resets */
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form {
	display: inline;
}

button {
	border: 0;
	font-size: 16px;
	padding: 10px 55px;
	align-self: center;
}

/* App level styles */
#root {
	display: flex;
	flex-direction: column;
}
.app-container {
	display:flex;
	flex-direction: column;
	align-self: center;
}
.view-container {
	margin-top: 50px;
	align-self: center;
	max-width: 500px;
}

.app-component {
	margin-bottom: 40px;
}

.error-message{
	background-color: darkred;
	color: white;
	width: fit-content;
	padding: 10px;
	align-self: center;
	margin-bottom: 15px;
}

/* edit workout */



.success-message {
	background-color: limegreen;
	padding: 10px;
	
}


/*
	-  Resets
	-  App
		-  Timer
		-  Nav
		-  View
			-  Current Session
				-  Timer
				-> Set List
					-  Set Card
				-  Nav
			-  Workouts
				-  Timer
				-  Workouts List
					-  Workout Card
				-  Nav
			-  Exercises
				-  Timer
				-  Exercises List
					-  Exercise Card
				-  Nav
*/
.set-list {
	width: 80vw;
	margin: auto;
	
}

.set-list .banner.container {
	flex-direction: row;
	padding: 10px;
	position: relative;
	
}

.set-list .banner {
	background-color:lightslategrey;
	height: 50px;
	width: 100%;
	color: white;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.set-list .banner .expand-state.collapsed::before {
	display: block;
	content: " ";
	position: absolute;
	left: 30px;
	top: 17px;
	border: 10px solid lightslategrey;
	border-left: 20px solid white 
}

.set-list .banner .expand-state.expanded::before{
	display: block;
	content: " ";
	position: absolute;
	left: 30px;
	top: 18px;
	border: 10px solid lightslategrey;
	border-top: 20px solid white 
}

.set-list .banner .expand-state.none::before {
	display: none;
}

/*
	-  Resets
	-  App
		-  Timer
		-  Nav
		-  View
			-  Current Session
				-> Timer
				-  Set List
				-  Nav
			-  Workouts
				-  Timer
				-  Workouts List
				-  Nav
			-  Exercises
				-  Timer
				-  Exercises List
				-  Nav
*/
/* Intentionally empty */

/*
	-  Resets
	-> App
		-  Timer
		-  Nav
		-  View
			-  Current Session
				-  Timer
				-> Set List
				-  Nav
			-  Workouts
				-  Timer
				-  Workouts List
				-  Nav
			-  Exercises
				-  Timer
				-  Exercises List
				-  Nav
*/



/*
	-  Resets
	-  App
		-  Timer
		-  Nav
		-  View
			-  Current Session
				-  Timer
				-  Set List
					-> Set Card
				-  Nav
			-  Workouts
				-  Timer
				-  Workouts List
					-  Workout Card
				-  Nav
			-  Exercises
				-  Timer
				-  Exercises List
					-  Exercise Card
				-  Nav
*/
.set-card{
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	padding: 15px 30px;
}

.set-card > * {
	margin-bottom: 10px
}

.set-card p {
	width: fit-content
}

.rep-bubbles-container,
.set-card-details {
	display: flex;
}

.set-card-details li{
	/* need to add units to */
	margin-right: 50px;

}

.rep-bubble {
	height: 15px;
	width: 30px;
	border-radius: 50px;
	margin-right: 10px;
}

.incomplete {
	background-color: red
}

.set-card button {
	width: fit-content;
	height: 20px;
	background-color:skyblue;
	border: 0;
}


/* routes/workouts.js */
/* routes/exercises.js */

.list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.list-container h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-family: sans-serif
}

.list{
	margin-top: 50px;
	padding: 0;
}

.list li {
	border: 1px solid black;
	padding: 10px 30px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.new-button {
	background: limegreen;
	text-align: center;
}

.new-button span {
	margin-left: 10px;
	padding: 2px 5px;
	border-radius: 50px;
	border: 1px solid black;
}

/*  */
/*  */

.list-item div{
	margin-left: 20px;
}

.list-item button {
	margin-left: 20px;
	background-color: white;
	border: none;
	cursor: pointer;
}

.new-button a {
	margin: auto;
}

.list-item form {
	display: inline;
}

/* routes/overwrite-session.js */

.overwrite-alert{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.overwrite-alert h2 {
	font-size: 30px;
	width: 90%;
	text-align: center;
}

.overwrite-alert p {
	font-size: 25px;
	margin-top: 20px;
}

.overwrite-alert div {
	margin-top: 40px;
	width: 300px;
	display: flex;
	justify-content: space-around;
}

.overwrite-alert button {
	font-size: 20px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	background-color: rgb(232, 96, 96);
}

.overwrite-alert button:first-of-type {
	background-color: rgb(88, 185, 88);
}