.edit-workout {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: flex-start;
	height: 100vh;
    text-align: center;
    /* align-self: center */
}

.edit-workout .header {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.edit-workout .header p{
    margin-bottom: 10px;
}

.edit-workout .header h1 {
    font-size: 30px;
}

.rest-interval {
    text-align: start;
}

.rest-interval p {
    margin-bottom: 10px;
    text-decoration: underline;
    width: 200px;
}

.rest-interval .disabled {
    color: grey;
}
