.edit-workout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
    text-align: center;
}

.edit-workout .header {
    margin-bottom: 20px;
}

.edit-workout .header p{
    margin-bottom: 10px;
    font-size: 20px;
}

.edit-workout .header h1 {
    font-size: 32px;
}

.edit-workout .exercise-deck {
    margin-top: 50px;
}

.edit-workout .exercise-deck > .row-container{
    overflow-x: scroll;
    width: 350px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.edit-workout .exercise-deck > .row-container::-webkit-scrollbar{
    display: none;
}

.edit-workout .route-subheader {
    border-bottom: 1px solid #1C18CE;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: fit-content;
    text-align: start;
}

.edit-workout .rest-interval {
    text-align: start;
}

.edit-workout .rest-interval .disabled {
    color: grey;
}

.edit-workout .edit-button{
    background-color: #FFAF65;
    padding: 20px 30px;
    font-size: 20px;
}

