html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form {
	display: inline;
}


/* edit workout */

.edit-workout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	margin-top: 100px;
	margin-bottom: 50px;
}

.edit-workout > * {
	margin-top: 10px;
}

.edit-workout h1 {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.edit-workout label{
	font-size: 24px;
}

.exercise-list {
	width: 70%;
}

.exercise-list h2 {
	margin-top: 20px;
	align-self: flex-start;
}

.exercise-list li {
	margin-top: 20px;
	border: 1px solid black;
	padding: 10px;
}

.exercise-list li * {
	margin-top: 5px;
}

.exercise-list ul section div{
	display: flex;
	justify-content: space-between;
}

.exercise-list ul section div:first-child {
	font-weight: bold;
}

.exercise-list .add-exercise {
	text-align: center;
	padding: 30px;
}

.add-exercise ul {
	margin: 0 !important;
}

.add-exercise a {
	cursor: pointer;
	display: block;
	margin:0;
	padding: 10px;
	background-color: limegreen;
}

.add-exercise a span {
	padding: 2px 5px;
	border: 1px solid black;
	border-radius: 50px;
	margin-left: 10px;
}

/* Create Workout */
.create-workout, .edit-exercise {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.create-workout h1 {
	font-size: 30px;
}

.create-workout .add-exercise {
	cursor: pointer;
	border: 1px solid black;
	padding: 10px 30px;
	margin-top: 10px;
	background-color: limegreen;
	text-align: center;
}

.success-message {
	background-color: limegreen;
	padding: 10px;
	
}

.error-message{
	background-color: red;
	padding: 10px;
}

/* Edit Exercise */

/* CurrentSession */

.exercise-card{
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	padding: 15px 30px;
}

.exercise-card > * {
	margin-bottom: 10px
}

.exercise-card p {
	width: fit-content
}

.rep-bubbles-container,
.exercise-card-details {
	display: flex;
}

.exercise-card-details li{
	/* need to add units to */
	margin-right: 50px;

}

.rep-bubble {
	height: 15px;
	width: 30px;
	border-radius: 50px;
	margin-right: 10px;
}

.incomplete {
	background-color: red
}

.exercise-card button {
	width: fit-content;
	height: 20px;
	background-color:skyblue;
	border: 0;
}
