.setCard {
    border: 1px solid black;
    width: 500px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    padding: 15px;
}

.setCard .setCardArt {
    height: 200px;
    width: 400px;
    background-color:lightgrey;
    align-self: center;
}

.setCard .setCardDetails {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    align-self: center;
}

.setCard .setCardDetails.rest {
    width: 250px;
}

.setCard .setCardDetails div {
    width: 75px;
}

.setCard button {
    background-color: #8BA4FB;
}

.setCard input {
    width: 55px;
}